@import "@sass/main";

.data-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi";
    font-style: normal;
    line-height: normal;
    color: var(--white, #fff);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: var(--white, #fff);
      font-family: "Satoshi";
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      > button {
        cursor: pointer;
        margin-left: 10px;
        border: none;
        outline: none;
        background-color: transparent;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    > p {
      margin-top: 12px;
      color: var(--white, #fff);
      font-family: "Satoshi";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
      max-width: 345px;
    }
  }

  .filters {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
    gap: 8px;
    color: white;

    li {
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.2);

      font-size: 14px;
    }

    .active {
      border: 1px solid var(--lime, #fbd52b);
    }
  }

  .elements {
    margin-top: 60px;

    .no-elements {
      width: 100%;
      font-family: "Satoshi";
      color: var(--white, #fff);
      font-size: 16px;
      font-weight: 300;
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .data-section {
    .title {

      h1 {
        font-size: 36px;
      }

      > p {
        font-size: 18px;
        max-width: 485px;
      }
    }

    .filters {
      margin-top: 48px;
      gap: 10px;

      li {
        padding: 10px 24px;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }

      .active {
        border: 1px solid var(--lime, #fbd52b);
      }
    }

    .elements {
      .no-elements {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .data-section {
    display: block;
    margin: 0;
    padding: 100px 120px;

    .title {
      flex-direction: row;
      justify-content: space-between;
      align-items: initial;

      h1 {
        font-size: 48px;
      }

      > p {
        margin-top: 0px;
        font-size: 20px;
        line-height: normal;
        max-width: 587px;
      }
    }

    .filters {
      margin-top: 60px;
      gap: 12px;

      li {
        cursor: pointer;
        padding: 10px 24px;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }

      .active {
        border: 1px solid var(--lime, #fbd52b);
      }
    }

    .elements {
      .no-elements {
        font-size: 24px;
      }

      > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
      }
    }
  }
}
