@import "@sass/main";

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-family: "Satoshi";
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--white, #fff);

        animation: blink 1s infinite;
    }
}

@media screen and (min-width: 768px) {
    
    .loading {

        > p {
            font-size: 24px;
        }
    }
}