.testimonial {
  padding: 100px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Satoshi";
    font-style: normal;
    line-height: normal;
    font-size: 16px;
  }

  > h1 {
    color: var(--white, #fff);
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
  }

  > svg {
    margin-top: 80px;
    color: var(--white, #fff);
    width: 54.483px;
    height: 40px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
      margin-top: 40px;
      color: #fff;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      align-self: stretch;
      max-width: 940px;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 24px;

      > h2 {
        margin-top: 12px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
      }

      > span {
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
